/* ===== BASE STYLES ===== */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* ===== COLOR PALETTE ===== */
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /* ===== TYPOGRAPHY ===== */
  --font-serif: 'Young Serif', serif;
  --font-sans: 'Outfit', system-ui, -apple-system, sans-serif;

  /* ===== SPACING ===== */
  --space-base: 1rem;
  --space-sm: calc(var(--space-base) * 0.75);
  --space-md: calc(var(--space-base) * 1.5);
  --space-lg: calc(var(--space-base) * 2);
}

/* ===== GLOBAL RESETS ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== BASE TYPOGRAPHY ===== */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  line-height: calc(1rem + 0.5em);
  color: var(--stone-600);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
}

/* ===== LAYOUT UTILITIES ===== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* recipe */
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.recipe__image {
  align-self: center;
  aspect-ratio: 16/9;
  width: 100%;
}

.recipe-body__wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
}

.recipe__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.recipe__title {
  font-size: 2.25rem;
  font-weight: 400;
  font-family: var(--font-serif);
  line-height: 1em;
  color: var(--stone-900);
}

.recipe__prep-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  margin: 0 16px;
  padding: 16px 24px;
  background-color: var(--rose-50);
}

.recipe__prep-title {
  color: var(--rose-800);
}

.recipe__prep-list {
  /* display: flex; */
}

.recipe__prep-item {
  margin: 0 24px;
}

.recipe__prep-item::marker {
  color: var(--rose-800);
}

.recipe__prep-item::before {
  content: '';
  margin: 8px;
}

.recipe__ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.recipe__ingredients-list {
  padding: 0 16px;
  list-style-type: none;
}

.recipe__ingredients-item {
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.recipe__ingredients-item::before {
  content: '•';
  color: var(--brown-800);
  font-size: 1.5rem;
  font-weight: 800;
}


.recipe__subtitle {
  font-size: 1.5rem;
  font-family: var(--font-serif);
  font-weight: 600;
  color: var(--brown-800);
}

.recipe__divider {
  width: 100%;
  border: 1px solid var(--stone-150);
}

.recipe__instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
}

/* .recipe__instructions-title {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--brown-800);
}

*/
.recipe__steps-list {
  padding: 0 24px;
}

.recipe__step {
  margin-bottom: 8px;
}

.recipe__step::before {
  content: '';
  margin: 8px;
}

.recipe__step::marker {
  color: var(--brown-800);
  font-weight: 800;
}

.recipe__nutrition {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: start;
  gap: 16px;
}

.recipe__nutrition-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.recipe__nutrition-table-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  border-bottom: 1px solid var(--stone-150);
}

.recipe__nutrition-table-value {
  text-align: left;
  color: var(--brown-800);
  font-weight: 800;
}


@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}